/* UserDebtInformationDesk.css */
header {
  /* background-color: #f0f0f0; */
  /* padding: 10px 0; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.contentDebt {
  margin-top: 20px;
}

/* AddDebt.css */
.add-user {
  max-width: 600px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
 
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.fs-2 {
  font-size: 1.5rem;
}

.fw-bold {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.me-5 {
  margin-right: 5px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* StudentTable.css */
.student-table-container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #0056b3
}